Repository AntonHu/anton-spa: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

feat(全局工程化): 完善了CI/CD
  .changeset/README.md
  .changeset/config.json
  .commitlintrc.js
  .cz-config.js
  .eslintrc.js
  .husky/commit-wizard.js
  .husky/prepare-commit-msg
  .lintstagedrc.json
  LICENSE
  eslint.config.js
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/commands/create.ts
  src/config/questions.ts
  src/utils/git.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

chore(changesets): changesets自动打tag
  .changeset/config.json
  CHANGELOG.md
  package.json
Due: prettier --write

chore(.github): 支持github自动release
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
Due: prettier --write

fix(github): 修复发布脚本
  .github/workflows/release.yml
Due: none

fix(github): release工作流修复
  .changeset/red-sheep-hang.md
  .github/workflows/release.yml
  package.json
Due: prettier --write

release(tag): Release v0.0.3
  .changeset/red-sheep-hang.md
  .commitlintrc.js
  .husky/commit-wizard.js
  CHANGELOG.md
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

fix(github): 修复文件夹路径问题
  .github/workflows/release.yml
Due: none

feat(changesets): 取消自动commit，更改工作流触发时机
  .changeset/config.json
  .github/workflows/release.yml
Due: prettier --write

release(tag): Release v0.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,less,md,json})
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
